.choresText {
   color: blue ;
   font-size: 1.5vw;
   font-style: italic;
   text-align: left;
}

.choresHeading {
   text-align: left;
   color: red;
   font-size: 1.5vw;
   text-decoration: underline;
   
  
 
}